In [ ]:
import pandas as pd
import re

### Задание 1
Для датафрейма log из материалов занятия создайте столбец source_type по правилам:

In [ ]:
log = pd.read_csv('visit_log.csv', sep=';')
log.head()

,timestamp,visit_id,url,region,user_id,traffic_source
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex

In [ ]:
log.loc[(log.traffic_source == "yandex") | (log.traffic_source == "google"), 'source_type'] = 'organic'
log.loc[(log.region == "Russia") & ((log.traffic_source == "paid") | (log.traffic_source == "email")), 'source_type'] = 'ad'
log.loc[(log.region != "Russia") & ((log.traffic_source == "paid") | (log.traffic_source == "email")), 'source_type'] = 'other'
log.head(20)

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,NaN
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic
5,1549980742,8855508aad,https://host.ru/df646c3676cc259fa0,Russia,fc43898e47,yandex,organic
6,1549980742,b0f66adc83,https://host.ru/b8b58337d272ee7b15,Russia,13fc55e781,paid,ad
7,1549980754,837885c8f8,https://host.ru/108ce4b365afb7b88e,Russia,cb5082b6f6,direct,NaN
8,1549980760,af5570f5a1,https://host.ru/3004a8273caeef2867,China,45664f7af2,direct,NaN
9,1549980765,3e7077fd2f,https://host.ru/df646c3676cc259fa0,Russia,6f9de8c8b6,email,ad
10,1549980777,01d448afd9,https://host.ru/a5dda93e70318570c0,India,27e76a4a80,direct,NaN
11,1549980785,71b6c1d538,https://host.ru/c8d9213a31839f9a3a,Ukraine,3b13701488,google,organic
12,1549980789,15ec7bf0b5,https://host.ru/8e88d4703848cc0ec4,Russia,6d1d81f7f8,paid,ad
13,1549980792,dd46c3eebb,https://host.ru/3004a8273caeef2867,China,7e301c8c41,direct,NaN
14,1549980793,e7ecebbc59,https://host.ru/05e41944dd85a900a6,Belarus,ac52dedc3b,direct,NaN
15,1549980797,5322fecfc9,https://host.ru/4adc8a29b212051b04,Belarus,9a45d98867,paid,other
16,1549980801,374708fff7,https://host.ru/39fa884393666d45fc,Russia,e9bd59e22d,google,organic
17,1549980807,0a88111852,https://host.ru/2fcb223266880ccf57,Ukraine,a2ba8fa3db,paid,other
18,1549980814,60daa3a5f7,https://host.ru/ef57543002ce2a0f2a,Belarus,72cb10fb5c,direct,NaN
19,1549980816,d6fd62f5ce,https://host.ru/f1eb4601740d627ab0,Belarus,7269dcd869,direct,NaN

### Задание 2
В файле URLs.txt содержатся URL страниц новостного сайта. Вам нужно отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри URL конструкцию: /, затем 8 цифр, затем дефис. Выполните действия:

Прочитайте содержимое файла с датафрейм.
Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствие с заданным шаблоном.

In [ ]:
url_df = pd.read_csv('URLs.txt')
url_df.head()

                                                 url
0                                            /world/
1                                           /latest/
2                                      /?updated=top
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...

In [ ]:
# создаем список для дальнейшего заполнения url, которые подходят по шаблону
list_url = []

# получаем все ссылки url_df['url']
for url in url_df['url']:
    # создаем шаблон для фильтрации ссылок
    text = re.findall(r'\/\w+.+\/\d{8}.+', url, flags=re.IGNORECASE)
    # проверяем подходит ли по шаблону
    if text:
        url_df[url_df.url.str.contains(url)]
        list_url.append(url)

# создаем новый датафрейм, в который добавляем все ссылки подходящие по шаблону
df_url = pd.DataFrame({'url': list_url})
df_url.head()

                                                 url
0  /politics/36188461-s-marta-zhizn-rossiyan-susc...
1  /world/36007585-tramp-pridumal-kak-reshit-ukra...
2  /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
3  /video/36001498-poyavilis-pervye-podrobnosti-g...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...

### Задание 3
Используйте файл с оценками фильмов ml-latest-small/ratings.csv. Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. Под временем жизни понимается разница между максимальным и минимальным значениями столбца timestamp для данного значения userId.

In [ ]:
df_rating = pd.read_csv('ratings.csv')
df_rating.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [ ]:
""" 
преобразовываем числовое значение timestamp в datetime и записываем в новый 
атрибут 
"""
df_rating['date'] = pd.to_datetime(df_rating['timestamp'], unit='s')
df_rating.head()

   userId  movieId  rating   timestamp                date
0       1      296     5.0  1147880044 2006-05-17 15:34:04
1       1      306     3.5  1147868817 2006-05-17 12:26:57
2       1      307     5.0  1147868828 2006-05-17 12:27:08
3       1      665     5.0  1147878820 2006-05-17 15:13:40
4       1      899     3.5  1147868510 2006-05-17 12:21:50

In [ ]:
"""
результат вычисления calculation_result: количество оценок с столбце 'rating' 
по каждому пользователю, max и min столбца 'timestamp'. 
"""
calculation_result = df_rating.groupby('userId').agg({'rating': ['count'], 'date': ['max', 'min']}).reset_index()[['userId', 'date', 'rating']]
calculation_result.head()

  userId                date                     rating
                         max                 min  count
0      1 2006-05-17 15:34:15 2006-05-17 12:14:13     70
1      2 2006-03-03 20:33:28 2006-03-03 19:51:49    184
2      3 2019-08-18 01:31:23 2015-08-13 13:23:19    656
3      4 2019-11-19 20:25:01 2019-11-16 20:44:51    242
4      5 1997-03-17 19:53:41 1996-04-29 13:55:55    101

In [ ]:
# получаем данные где количество оценок пользовтаеля больше 100
filter_rating = calculation_result.loc[(calculation_result['rating']['count'] > 100)]
filter_rating.head()

  userId                date                     rating
                         max                 min  count
1      2 2006-03-03 20:33:28 2006-03-03 19:51:49    184
2      3 2019-08-18 01:31:23 2015-08-13 13:23:19    656
3      4 2019-11-19 20:25:01 2019-11-16 20:44:51    242
4      5 1997-03-17 19:53:41 1996-04-29 13:55:55    101
7      8 1998-03-30 17:41:31 1998-03-21 14:06:43    155

In [ ]:
# получаем время жизни пользователей
filter_rating['result'] = (filter_rating['date']['max'] - filter_rating['date']['min']).dt.days
filter_rating.head()

<ipython-input-72-9c11e184cdaf>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filter_rating['result'] = (filter_rating['date']['max'] - filter_rating['date']['min']).dt.days

  userId                date                     rating result
                         max                 min  count
1      2 2006-03-03 20:33:28 2006-03-03 19:51:49    184      0
2      3 2019-08-18 01:31:23 2015-08-13 13:23:19    656   1465
3      4 2019-11-19 20:25:01 2019-11-16 20:44:51    242      2
4      5 1997-03-17 19:53:41 1996-04-29 13:55:55    101    322
7      8 1998-03-30 17:41:31 1998-03-21 14:06:43    155      9

In [ ]:
# получаем среднее время жизни пользователей
average_lifetime = filter_rating.result.mean()
average_lifetime

493.8256632119426

### Задание 4
Дана статистика услуг перевозок клиентов компании по типам (см. файл “Python_13_join.ipynb” в разделе «Материалы для лекции “Продвинутый pandas”» ---- Ноутбуки к лекции «Продвинутый pandas»).
Нужно сформировать две таблицы:

* таблицу с тремя типами выручки для каждого client_id без указания адреса клиента;
* аналогичную таблицу по типам выручки с указанием адреса клиента.
Обратите внимание, что в процессе объединения таблиц данные не должны теряться.

In [ ]:
# rzd - железнодорожные перевозки
rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)

# auto - автомобильные перевозки
auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)

# air - воздушные перевозки
air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)

# client_base - адреса клиентов
client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)

In [ ]:
"""
получаем все данные с помощью соединения full outer join таблиц air, auto, air
"""
result_rzd_auto = pd.merge(air, auto, how='outer', on='client_id')
result_rzd_auto_air = pd.merge(result_rzd_auto, air, how='outer', on='client_id')
result_rzd_auto_air

   client_id  air_revenue_x  auto_revenue  air_revenue_y
0        115           81.0         912.0           81.0
1        116            4.0        4834.0            4.0
2        117           13.0          98.0           13.0
3        118          173.0           NaN          173.0
4        113            NaN       57483.0            NaN
5        114            NaN          83.0            NaN

In [ ]:
"""
результат соединения таблицы result_rzd_auto_air с client_base для получения 
адресов с помощью соединения full outer join
"""
result_df = pd.merge(result_rzd_auto_air, client_base, how='outer', on='client_id')
result_df

   client_id  air_revenue_x  auto_revenue  air_revenue_y          address
0        115           81.0         912.0           81.0        ЗЖБИиДК 1
1        116            4.0        4834.0            4.0    Строителей 18
2        117           13.0          98.0           13.0  Панфиловская 33
3        118          173.0           NaN          173.0     Мастеркова 4
4        113            NaN       57483.0            NaN  Левобережная 1а
5        114            NaN          83.0            NaN          Мира 14
6        111            NaN           NaN            NaN  Комсомольская 4
7        112            NaN           NaN            NaN   Энтузиастов 8а